@import "../../mixins.scss";
.footer {
  background-color: var(--black3);
  padding: 50px 0;
  color: white;
  position: relative;
  .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .menuItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    @include md {
      margin-bottom: 30px;
      gap: 30px;
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        height: 45px;
      }
      transition: all ease 0.3s;
      cursor: pointer;
      font-size: 12px;
      @include md {
        font-size: 16px;
      }
      &:hover {
        color: var(--pink);
      }

      .logoName {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: larger;
        color: var(--orange);
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        margin-left: 10px;

        @include md {
          font-size: x-large;
          margin-left: 15px;
        }
      }
    }
  }

  .infoText {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
    max-width: 900px;
    margin-bottom: 20px;
    @include md {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 0 0.625em var(--pink);
        color: var(--pink);
      }

      &:visited {
        color: var(--orange);
      }
    }
  }
}
